<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <divs style="display: flex; gap: 100px; align-items: center ;" >
      <li>Home</li>
      <li>About</li>
      <li>contact</li>
      
    </div>

    <div class="para" >
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem minima assumenda sit corporis molestias quisquam pariatur, expedita eveniet debitis incidunt sapiente dolorem natus repellendus placeat odit dignissimos, totam hic cum?
    </div>

   
    
  </body>
</html>
