<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Student Details</h1>
        <h1>Name: {{student.name}}</h1>
        <h1>Age: {{student.age}}</h1>
        <h1>Email: {{student.email}}</h1>
        <h1>Place: {{student.place}}</h1>
        <h2><a href="/update/{{student.id}}/">Update</a></h2>
        <h2><a href="/delete/{{student.id}}/    ">Delete</a></h2>
    </center>
</body>
</html>